/* Override table styles for better text wrapping */
.wy-table-responsive td, .wy-table-responsive th {
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
}

/* Make sure the table width fits the content */
.wy-table-responsive {
    table-layout: auto;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    table-layout: fixed;
}

ul li {
    margin-bottom: 10px;
}

.math {
    font-size: 12px;
    font-weight: normal;
    font-family: Arial;
}

a.reference.external::after {
    content: " ↗";
    font-size: 0.9em;
    color: #800;
}

a.icon.icon-home img {
    background-color: white;
    width: 60%;
}

.ta-info {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  cursor: help;
  color: #6b7280;
  font-size: 0.9em;
  position: relative;
}

.ta-info:hover {
  color: #111827;
}

.ta-info:hover::after {
  content: attr(data-tip);
  position: absolute;
  left: 0;
  top: 140%;
  white-space: pre;

  background: #ffffff;
  color: #1f2937;

  padding: 8px 10px;
  border-radius: 8px;

  font-size: 12px;
  font-weight: 500;

  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);

  z-index: 9999;
}

.zoom-wrapper {
  position: relative;
  display: inline-block;
}

.zoom-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 10;
  padding: 2px 6px;
  font-weight: bold;
}

.zoom-out {
  right: 35px;
}

img.zoomable {
  transition: transform 0.2s ease;
  display: block;
}

.rst-content code.literal, .rst-content tt.literal {
    color: #4169E1;
    font-weight: bold;
    white-space: normal;
}

.rst-content code, rst.content tt {
    background-color: #f5f5f5;  /* light gray background */
    color: #4169E1;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}

.highlight .nt { color: #4169E1; }

